[Desktop Entry]
Categories=GNOME;KDE;Qt;
Comment=Sawloih Cuengh-Gun duh Daegroeg
Exec=sawroeg
GenericName=Sawroeg
Icon=/opt/sawroeg/icons/sawroeg.png
Name=Sawroeg
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
