[Desktop Entry]
Encoding=UTF-8
GenericName=Sawroeg
Name=Sawroeg
Comment=Sawloih Cuengh-Gun duh Daegroeg
Exec=sawroeg
Icon=/opt/sawroeg/icons/sawroeg.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;Dictionary;
X-KDE-SubstituteUID=false
