<!DOCTYPE html>
<html lang="za">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sawroeg {{ version }}</title>
<meta name="description" content="Sawroeg: Sawloih Cuengh-Gun duh Daegroeg" />
<meta name="robots" content="noindex, nofollow" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="{{ static_url('styles.css') }}" />
<link rel="shortcut icon" type="image/x-icon" href="{{ static_url('favicon.ico') }}" />
</head>
<body>
<div id="topbanner">
<h1>Sawroeg: Sawloih Cuengh-Gun duh Daegroeg</h1>
<div id="formcontainer">
<form action="?" method="GET">
<span id="submitcontainer"><input type="submit" id="btn_submit" class="input_glow" value="Ra" /></span>
<span id="qcontainer"><input type="text" id="q" name="q" class="input_glow"{% if key %} value="{{ key }}"{% end %} placeholder="Saw" /></span>
<div id="newenginecontainer"><input type="checkbox" id="new_engine" name="new_engine"{% if new_engine %} checked="checked"{% end %} /><label for="new_engine">yinxgingz moq (sawqhengz)</label></div>
{% if has_count %}<input type="hidden" value="{{ count }}" />
{% end %}</form>
</div>
</div>
{% set shownextpage=False %}
<div id="results">
{% if start>0 %}<a href="?q={{ key }}&start={{ max(start-count, 0) }}&count={{ count }}">Mbaw gonq ←</a>
{% end %}{% if result %}<ol{% if start>0 %} start="{{ start+1 }}"{% end %} style="padding-left: {{ (len(str(start+count))+3)/2.0 }}em; margin-left: 0pt">
{% for n,desc in enumerate(result) %}<li><div>{{ desc }}</div></li>
{% if n==count %}{% set shownextpage=True %}{% end %}{% end %}</ol>
{% if shownextpage%}<a href="?q={{ key }}&start={{ start+count }}&count={{ count }}">Mbaw laeng →</a>
{% end %}{% elif key %}<div>Ndi miz liux. :-(</div>
{% else %}<div>Raiz saw youq gwnz neix ma ra.</div>
{% end %}</div>
<div id="footer">
<hr />
<div><a href="https://github.com/libertas/sawroeg" target="_blank">Sawroeg</a> dwg aen hanghmoeg ndeu youq laj <a href="{{ static_url('COPYING.html') }}" target="_blank">GPLv3</a>.</div>
<div><a href="{{ static_url('CREDITS.txt') }}" target="_blank">Gyo'mbaiq</a>.</div>
</div>
</body>
