
body {
    margin-top: 0pt;
    margin-left: 0pt;
    font-family: "Helvetica Neue", "Nimbus Sans L", "DejaVu Sans", "Droid Sans",
        Arial, "Droid Sans Fallback", "Heiti SC", STXihei, STHeiti
        "WenQuanYi Micro Hei", "WenQuanYi Zen Hei", "Microsoft YaHei", SimSun,
        sans-serif;
}

#topbanner {
    position: fixed;
    top: 0pt;
    width: 100%;
    height: 64pt;
    background-color: rgba(102, 204, 255, .75);
    padding-left: 14pt;
    box-shadow: 0pt 0pt 10pt gray;
    white-space: nowrap;
}

#results {
    margin-top: 80pt;
    margin-left: 14pt;
    padding-bottom: 2em;
}

#topbanner h1 {
    font-size: 14pt;
    font-weight: bold;
    text-shadow: 0pt 0pt 10pt white;
}

input {
    border: none;
    border-radius: 8pt;
    height: 16pt;
    background-color: #f7f7f7;
    transition: box-shadow .5s ease, background-color .1s linear;
    font-size: 12pt;
    box-sizing: border-box;
    padding-left: 8pt;
    padding-right: 8pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
}

input:hover, input:active, input:focus {
    background-color: white !important;
    transition: box-shadow .5s ease, background-color .1s linear;
    box-shadow: 0pt 0pt 12pt white;
}

#q {
    background-color: #ececec;
    width: 240pt;
    border-top-right-radius: 0pt;
    border-bottom-right-radius: 0pt;
}

#btn_submit {
    width: 60pt;
    border-top-left-radius: 0pt;
    border-bottom-left-radius: 0pt;
}
