
body {
    margin-top: 0pt;
    margin-left: 0pt;
    font-family: "Helvetica Neue", "Nimbus Sans L", "DejaVu Sans",
        "Droid Sans", Helvetica, Arial, STXihei, "Heiti SC", STHeiti,
        "WenQuanYi Micro Hei Light", "Droid Sans Fallback",
        "WenQuanYi Micro Hei", "WenQuanYi Zen Hei", "Microsoft YaHei", SimSun,
        sans-serif;
}

h1 {
    font-size: 14pt;
    font-weight: bold;
    text-shadow: 0pt 0pt 10pt white;
    margin-top: 10pt;
    margin-bottom: 8pt;
}

a:link, a:visited {
    color: blue;
    text-decoration: none;
    transition: text-shadow .5s ease, color .1s linear;
}

a:hover {
    color: red;
    text-decoration: none;
    text-shadow: 0pt 0pt 10pt red;
    transition: text-shadow .5s ease, color .1s linear;
}

a:active, a:focus {
    color: red;
    text-decoration: none;
    transition: text-shadow .5s ease, color .1s linear;
}

input {
    border-style: none;
    border-radius: 8pt;
    height: 16pt;
    background-color: #f7f7f7;
    transition: box-shadow .5s ease, background-color .1s linear;
    font-size: 12pt;
    box-sizing: border-box;
    padding-left: 8pt;
    padding-right: 8pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
}

input:hover, input:active, input:focus {
    background-color: white !important;
    transition: box-shadow .5s ease, background-color .1s linear;
    box-shadow: 0pt 0pt 12pt white;
}

hr {
    width: 80%;
    border-style: none;
    color: white;
    background-color: lightgray;
    box-shadow: 0pt 0pt 5pt gray;
    height: 1px;
}

#topbanner {
    position: fixed;
    top: 0pt;
    width: 100%;
    height: 64pt;
    background-color: rgba(102, 204, 255, .75);
    padding-left: 14pt;
    box-shadow: 0pt 0pt 10pt gray;
    box-sizing: border-box;
    white-space: nowrap;
}

#formcontainer {
    max-width: 320pt;
    padding-right: 14pt;
}

#qcontainer {
    display: block;
    margin-right: 75pt;
}

#q {
    width: 100%;
    background-color: #ececec;
    border-top-right-radius: 0pt;
    border-bottom-right-radius: 0pt;
}

#submitcontainer {
    display: block;
    float: right;
    margin-right: 14pt;
}

#btn_submit {
    width: 60pt;
    border-top-left-radius: 0pt;
    border-bottom-left-radius: 0pt;
}

#results {
    margin-top: 80pt;
    margin-left: 14pt;
}

#footer {
    margin-top: 28pt;
    margin-left: 14pt;
    margin-right: 14pt;
    padding-bottom: 14pt;
}

@media all and (max-height: 192pt) {
#topbanner {
    position: absolute;
}
}

@media all and (max-width: 340pt) {
h1 {
    font-size: 12pt;
}
}

@media all and (max-width: 280pt) {
h1 {
    font-size: 10pt;
}
}

@media all and (max-width: 240pt) {
h1 {
    font-size: 9pt;
}
}

@media all and (max-width: 210pt) {
h1 {
    font-size: 8pt;
}
}

@media all and (max-width: 195pt) {
h1 {
    font-size: 7pt;
}
}

@media all and (max-width: 175pt) {
h1 {
    font-size: 6pt;
}
}

